<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta itemprop="name" content="Archmanoelogy | OpenManul Dataset">
    <meta itemprop="image" content="/resource/profile.png">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/resource/profile.png">
    <meta name="description" itemprop="description" content="OpenManul is a dataset about manul and maybe more to which everyone can contribute. If wanting to edit, check out github repo Archmanoelogy:openManul for more information.">
    <title>OpenManul | individuals</title>
    <link rel="icon" href="/resource/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/resource/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="om_default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1><span>OpenManul | individuals</span></h1>
    </header>
    <main>
        <aside>
            <nav>
                <ul>
                    <li><a href="">侧边栏1</a></li>
                    <li><a href="">侧边栏1</a></li>
                    <li><a href="">侧边栏1</a></li>
                </ul>
            </nav>
        </aside>
        <article>
            <section class="card">
                <div class="card-inner">
                    <div class="card-face card-front">
                        <img class="card-image" src="../../openManul/data/individuals/manul/image/Zelenogorsk_wild_001.png" alt="Manul individual">
                        <div class="card-overlay">
                            <h2 class="card-title">泽列诺戈尔斯克</h2>
                            <p class="card-description">2012? ― 2026.1.22?</p>
                        </div>
                    </div>
                    <div class="card-face card-back">
                        <h2 class="card-title">泽列诺戈尔斯克</h2>
                        <p class="card-description">全名“泽列诺戈尔斯克”，简称“泽列”。来自俄罗斯图瓦共和国野外，在泽列诺戈尔斯克接受救助，2014年搬往新西伯利亚动物园。2022年因踩尾巴视频爆火<sup>[1]</sup>，也是视频发布者Manulization卡通图标的原型。2024年10月6日下午抓伤一位试图逗弄他的游客<sup>[2]</sup>。</p>
                    </div>
                </div>
            </section>
			<section class="card">
                <div class="card-inner">
                    <div class="card-face card-front">
                        <img class="card-image" src="../../openManul/data/individuals/manul/image/Karaganda_wild_001.png" alt="Manul individual">
                        <div class="card-overlay">
                            <h2 class="card-title">卡拉干达</h2>
                            <p class="card-description">2011? ― 2026.2.4?</p>
                        </div>
                    </div>
                    <div class="card-face card-back">
                        <h2 class="card-title">卡拉干达</h2>
                        <p class="card-description">来自哈萨克斯坦卡拉干达市的野外。先前被误认为是Lev的爸爸，因此在日本也被叫作“レフパパ”。出生时间应早于2012年。2021年前后左眼出现严重的疤痕。</p>
                    </div>
                </div>
            </section>
        </article>
    </main>
    <footer>
        <a href="https://github.com/Archmanoelogy/openManul">Archmanoelogy</a>
    </footer>
</body>
</html>
