<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta itemprop="name" content="Archmanoelogy | OpenManul Dataset">
    <meta itemprop="image" content="/resource/profile.png">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/resource/profile.png">
    <meta name="description" itemprop="description" content="OpenManul is a dataset about manul and maybe more to which everyone can contribute. If wanting to edit, check out github repo Archmanoelogy:openManul for more information.">
    <title>OpenManul | individuals</title>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="om_default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <header>
        <h1><span>OpenManul | individuals</span></h1>
    </header>
    <main>
        <aside>
            <nav>
                <ul>
                    <li><a href="">侧边栏1</a></li>
                    <li><a href="">侧边栏1</a></li>
                    <li><a href="">侧边栏1</a></li>
                </ul>
            </nav>
        </aside>
        <article>
            <section></section>
            <section></section>
            <section></section>
        </article>
    </main>
    <footer>
        <a href="https://github.com/Archmanoelogy/openManul">Archmanoelogy</a>
    </footer>
</body>
</html>
